
Project/ProjectDesktop/Temp/UnityLockfile
Project/ProjectDesktop/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Project/ProjectDesktop/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project/ProjectDesktop/Library/metadata/15/15b7f04775584104ba9e1f6a78fa26ee.info
Project/ProjectDesktop/Library/metadata/15/15b7f04775584104ba9e1f6a78fa26ee
*.json
Project/ProjectDesktop/Library/assetDatabase3
Project/ProjectDesktop/Assets/Scripts/TrackScripts.meta
Project/ProjectDesktop/Library/shadercompiler-UnityShaderCompiler.exe0.log
